@font-face {
    font-family: Sora;
    src: url(/assets/fonts/Sora-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272a2c;
    color: #fff;
}

.primeiro-container {
    max-width: 65vw;
    margin: 16rem auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#participar {
    border: none;
    font-family: Sora;
    font-weight: 800;
    font-size: 2.5rem;
    color: #272a2c;
    line-height: 1;
}

header {
    background-image: url("/assets/img/foto-background.png");
    background-size: cover;
    background-position: center calc(-13rem);
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 -10px 55rem -3px #272a2c, inset 0 -20rem 55rem -2px #272a2c;
}

.logo {
    width: 11.5rem;
}

h1 {
    font-size: 3.7rem;
    margin: -0.5rem 0 0 0;
    font-weight: bold;
}

.seu-lugar {
    margin-top: 0;
    padding: 0 1rem;
    background-color: #930f10;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.btn-yellow {
    background-color: #f0bd3b;
    color: #282b30;
    cursor: pointer;
    padding: 15px 3rem;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.segundo-container {
    padding: 0 5rem;
    text-align: center;
}

.segundo-container h2 {
    font-weight: 300;
    font-size: 3rem;
    margin: 1rem 0 0 0;
    padding-bottom: 0.5rem;
    border-bottom: 0.3rem solid #f0bd3b;
}

.mentor {
    padding: 50px 0;
    background-color: #272a2c;
}

.mentor-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.mentor-img {
    width: 40rem;
}

.mentor-text {
    max-width: 40rem;
    text-align: left;
    margin-top: 1rem;
}

.mentor-text p {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem 0 2rem 0;
}

h3 {
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
}

.btn-blue {
    background-color: transparent;
    color: #fff;
    padding: 0.3rem 0.3rem;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 100;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: inline-block;
}

.terceiro-container {
    padding: 0 5rem;
    text-align: center;
}

.terceiro-container h2 {
    font-weight: 300;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 0.5rem;
}

.nao-quebra p {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 2rem 0;
}

.nao-quebra .amarelo {
    font-weight: 600;
    color: #f0bd3b;
}

.curso-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.curso {
    padding: 0;
}

.curso img{
    width: 43rem;
    margin-top: 3rem;
}

.check-list {
    max-width: 40rem;
    text-align: left;
}

.check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 48px;
    height: 48px;
    fill: #f0bd3b;
    flex-shrink: 0;
    margin-right: 10px;
}

.check p {
    margin: 1rem 0 1rem 0;
    font-size: 1.3rem;
}

.check img {
    width: 30px;
}

.quarto-container {
    padding: 0 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quarto-container h2 {
    font-weight: 100;
    font-size: 2.6rem;
    letter-spacing: 0.3rem;
}

.quarto-container h3 {
    font-size: 3.3rem;
    max-width: 50rem;
}

.depoimentos {
    color: #222;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.depoimentos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.depoimento {
    text-align: left;
}

.depoimento img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.depoimento h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.depoimento p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.chamada {
    background-image: url(/assets/img/foto-background.png);
    background-size: cover;
    background-position: center calc(-13rem);
    position: relative;
    padding: 50px 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #222;
    height: 35vw;
}

.chamada-content {
    text-align: left;
    background-color: #f0bd3b;
    display: flex;
    border-radius: 15px;
    gap: 15rem;
    max-width: 67vw;
    align-items: center;
}

.chamada-content h2 {
    font-size: 3.5rem;
    color: #222;
    margin-bottom: 20px;
    margin-left: 2rem;
}

.btn-green {
    font-family: 'Sora';
    background-color: #1fad24;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
    padding: 2rem 1rem;
    border: none;
    line-height: 1;
    border-radius: 15px;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-green:hover {
    background-color: #3e8e41;
}

.chamada img {
    width: 500px;
}

footer {
    background-color: #f9f9f9;
    color: #222;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.8rem 0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 25px;
    bottom: 25px;
    z-index: var(--z-fixo);
    font-size: var(--normal-font);
    border: solid;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border-width: 1px;
    border-color: darkred;
    width: 2vw;
    height: 2vw;
  }
  
#myBtn:hover {
background-color: #876f32;
}